# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Mac
.DS_Store

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.log
hs_err_pid*

# Test output
test-output/
